---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
import ThemIcon from './ThemIcon.astro';
---

<header>

    <nav>
        <Hamburger />
        <ThemIcon />
        <Navigation />

    </nav>
</header>